@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #f8fafc;
} */

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.3rem;
  margin-block: 0.5em;
  border-radius: 100vw;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(207, 206, 206);
  border-radius: 100vw;
}

aside:hover {
  overflow-y: auto; /* Show scrollbar on hover */
}

.myaside {
  transition: 0.5s;
  animation: animateDrower 0.5s;
}

@keyframes animateDrower {
  from {
    left: -200px;
  }
  to {
    left: 0;
  }
}
